
<%= form_for @collaborator do |f| %>
<% @collaborators.each do |collaborator| %>
<tr>
  <td><%= collaborator.name %></td>
  <td><%= collaborator.email %></td>
  <td> <%= f.check_box :allowed  %> </td>
</tr>

<% end %>
<tbody>
 <tr>
  <%=f.hidden_field :wiki_id, value: params[:wiki_id]%>
  <td><%= f.submit %> </td>
</tr>
</tbody>
<% end %>
